<div class="root-page-background">
	<div class="row">
		<div class="col-md-2 col-md-offset-10 col-sm-6 col-sm-offset-6 text-right">
			<p><%= link_to "Login", login_path, class: "root-page-secret-link" %></p>
		</div>
	</div>
</div>