<p class="text-center"><%=concat_number_of_runs(stats[0]) %> | <%= concat_distance_miles(stats[1]) %> | <%= concat_elevation_gain(stats[2]) %></p>
<p class="text-center"><%=concat_total_time(stats[3], stats[4], stats[5]) %></p>