<div class="row vertical-align-middle">
	<div class="col-md-2">
		<%= render back_to_dashboard_path %>
	</div>
	<div class="col-md-8">
		<h1 class="text-center"><%=heading_text%></h1>
	</div>
	<div class="col-md-2"></div>
</div>
<hr />
<%= render notice_path %>