<% if notice and can? :manage, :all %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-1">
			<div class="alert alert-success alert-dismissable align-center" role="alert">
				<a href="#" class="close text-link" data-dismiss="alert" aria-label="close">X</a>
				<span id="notice"><%= raw(notice) %></span>
			</div>
		</div>
	</div>
<% end %>