<% if notice %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-1">
			<div class="alert alert-success alert-dismissable text-center" role="alert">
				<h4 class="display-1">
					<a href="#" class="close text-link" data-dismiss="alert" aria-label="close">X</a>
					<span id="notice"><%= raw(notice) %></span>
				</h4>
			</div>
		</div>
	</div>
<% end %>