<%= render index_header_path, heading_text: current_user.concat_name %>

<%= render "templates/alerts/form-errors", model: current_user %>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="text-center">Basic Information</h1>
				</div>
				<div class="panel-body">
					<%= render 'basic-user-attr-form' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="text-center">Change Password</h1>
				</div>
				<div class="panel-body">
					<%= render 'password-form' %>
				</div>
			</div>
		</div>
	</div>
</div>