<%= link_to path, :class => "btn btn-danger btn-block", title: "Back to #{text}", 'data-toggle' => 'tooltip' do %> 
	<span class="glyphicon glyphicon-chevron-left"></span> Back to <%=text%>
<% end %>
