<%= link_to dashboard_path, :class => "btn btn-danger btn-block", title: "Back to Dashboard", 'data-toggle' => 'tooltip' do %> 
  <span class="glyphicon glyphicon-chevron-left"></span> Back to Dashboard
<% end %>
