<%= link_to dashboards_path, :class => "btn btn-danger btn-block", title: "Back to Home Page", 'data-toggle' => 'tooltip' do %> 
  <span class="glyphicon glyphicon-chevron-left"></span> Back to Home Page
<% end %>
