<div class="row">
	<div class="col-xs-2">
		<%= render back_to_dashboard_path %>
	</div>
</div>
<br />

<div class="row">
	<%= content_tag(:p, content_tag(:i, "No data available."), :class => "text-center") if @personal_bests.empty? %>
	<%= render "race-results" %>
	<%= render "personal-bests" unless @personal_bests.empty? %>
</div>