<%= render index_header_new_btn_path, new_path: new_gear_path, heading_text: "Running Shoe" %>

<ul class="nav nav-tabs nav-justified text-link tab-text">
  <li class="active"><a data-toggle="tab" href="#shoes">Active Shoes</a></li>
  <li><a data-toggle="tab" href="#retired_shoes">Retired Shoes</a></li>
</ul>

<div class="tab-content">
  <div id="shoes" class="tab-pane fade in active">
    <br />
    <%= render "table", gears: @active_shoes %>
  </div>
  <div id="retired_shoes" class="tab-pane fade">
    <br />
    <%= render "table", gears: @retired_shoes %>
  </div>
</div>
