<div class="modal fade" id="shoebrandAddModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title text-center" id="aboutAddModal">Add Shoe Brand</h1>
			</div>
			<%= render "form", admin_shoe_brand: @new_admin_shoe_brand %>
		</div>
	</div>
</div>