<h1>Editing Admin Total Record Monthly Total</h1>

<%= render 'form', admin_total_record_monthly_total: @admin_total_record_monthly_total %>

<%= link_to 'Show', @admin_total_record_monthly_total %> |
<%= link_to 'Back', admin_total_record_monthly_totals_path %>
