<%= render edit_header_path, path: race_distances_path, btn_text: "Race Distance" %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				<h1>Editing: <strong><%= @race_distance.distance %></strong></h1>
			</div>
			<div class="panel-body">
				<%= render 'form', race_distance: @race_distance %>
			</div>
		</div>
	</div>
</div>
