<%= render index_header_path, heading_text: "Race Pace Chart" %>

<table class="table table-responsive table-striped table-bordered table-hover">
	<thead>
		<% @race_paces.each do |header, data| %>
			<tr>
				<% (0..header.count-1).each do |index| %>
					<th><%= header[index] %></th>
				<% end %>
			</tr>
	</thead>
	<tbody>
		<% data.each_with_index do |test, index| %>
			<tr>
				<th><%= test[0] %></th>
				<% (1..test.count-1).each do |index| %>
					<td><%= test[index] %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
	<% end %>
</table>