<div class="panel panel-default text-center">
	<div class="panel-heading">
		<h1><%= heading_date %> Totals</h1>
	</div>
	<div class="panel-body">
		<p><%= one_lined_totals(total_record) %></p>
	</div>
</div>