<div class="panel panel-default text-center">
	<div class="panel-heading">
		<h1><%= heading_date %> Totals</h1>
	</div>
	<div class="panel-body">
		<p><%= concat_run_totals_line_one(total_record) %> | <%= concat_run_totals_line_two(total_record.time_in_seconds) %></p>
	</div>
</div>