<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h1><%= Date.current.year %> Totals</h1>
	</div>
	<div class="panel-body text-center">
		<p><%= concat_run_totals_line_one(yearly_total) %></p>
		<p><%= concat_run_totals_line_two(yearly_total) %></p>
	</div>
</div>