<%= render edit_header_path, path: runs_path, btn_text: "Runs" %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h1>Editing: <strong><%= @run.name %></strong></h1>
			</div>
			<div class="panel-body">
				<%= render 'runs/form', run: @run, action: "update", disable_form: session[:website_viewer] %>
			</div>
		</div>
	</div>
</div>
