<%= render new_header_path, path: runs_path, btn_text: "Runs", heading_text: "Run" %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h1>Add New Run</h1>
			</div>
			<div class="panel-body">
				<%= render 'runs/form', run: @run, action: "create" %>
			</div>
		</div>
	</div>
</div>
