.padding-ten{
	padding: 10px;
}

.padding-fifteen{
	padding: 15px;
}

.top-bottom-padding{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.left-right-padding{
	padding-left: 15px;
	padding-right: 15px;
}

.slim-padding div{
	padding: 5px !important;
}
.no-padding{
	padding: 0px !important;
}
.no-left-padding{
	padding-left: 0px !important;
}

.no-right-padding{
	padding-right: 0px !important;
}

.calendar-card-hr{
	margin: 10px 0px;
}