table thead tr th, table tbody tr{
	text-align: center;
}

table tbody tr th, .table-bordered thead tr th,
table tfoot tr th, .table-bordered tfoot tr th{
	text-align: center;
	background-color: #ececec;
}
.table-bordered thead tr th:nth-child(1){
	background-color: #e0e0e0;
}

.gear-table-scrollbar {
	position: relative;
	height: 600px;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}

.table-borderless, 
.table-borderless>thead>tr>th, .table-borderless>thead>tr>td, 
.table-borderless>tbody>tr>th, .table-borderless>tbody>tr>td {
    border: none !important;
    border-color: transparent;
}
