h1, h2, h3{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.alert h4 {
	margin-top: 10px !important;
}

.red-text{
	color: red;
}

.small-caps {
	font-variant: small-caps;
}
.bold-text{
	font-weight: bold;
}

.text-color-black{
	color: #333333 !important;
}

.navbar-brand{
	font-size: 36px !important;
}

//Link that looks like text
.text-link:hover, .text-link:visited, .text-link:link, .text-link:active, 
.text-link a:hover, .text-link a:visited, .text-link a:link, .text-link a:active {
  text-decoration: none;
  color: #333333;
  background-color: transparent;
}

.carousel-control {
  text-shadow: 0px transparent !important;
  opacity: 0 !important;
}

.vertical-align-middle{
	display:flex;
	align-items:center; /* vertically aligns */
	justify-content: center;
}

.link-container{
	float: none;
	display: table-cell;
	vertical-align: bottom;
}
.root-page-secret-link{
	opacity: 0;
	cursor: default;
}

.make-text-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-center li{
	text-align: center;
}