<%= render new_header_path, path: user_runs_path, btn_text: "Runs", heading_text: "Run" %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h1>Add a New Run</h1>
			</div>
			<div class="panel-body">
				<%= render 'user/runs/form', run: @run, action: "create", shoe_selection: Shoe.of_user(current_user).select_new_shoe_id_name, disable_form: session[:website_viewer] %>
			</div>
		</div>
	</div>
</div>
