<%= link_to object, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, :disabled => current_user.is_viewer? do %>
	<span class="glyphicon glyphicon-trash"></span>
<% end %>