<%= render new_header_path, path: run_types_path, btn_text: "Run Types", heading_text: "Run Type" %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h1>Add New Run Type</h1>
			</div>
			<div class="panel-body">
				<%= render 'form', run_type: @run_type %>
			</div>
		</div>
	</div>
</div>
